node_modules/
*/node_modules/
projects/first-project/dist/app.controller.d.ts
projects/first-project/dist/app.controller.js
projects/first-project/dist/app.controller.js.map
projects/first-project/dist/app.module.d.ts
projects/first-project/dist/app.module.js
projects/first-project/dist/app.module.js.map
projects/first-project/dist/app.service.d.ts
projects/first-project/dist/app.service.js
projects/first-project/dist/app.service.js.map
projects/first-project/dist/main.d.ts
projects/first-project/dist/main.js
projects/first-project/dist/main.js.map
projects/first-project/dist/tsconfig.build.tsbuildinfo
projects/first-project/dist/hello/hello.controller.d.ts
projects/first-project/dist/hello/hello.controller.js
projects/first-project/dist/hello/hello.controller.js.map
projects/first-project/dist/hello/hello.module.d.ts
projects/first-project/dist/hello/hello.module.js
projects/first-project/dist/hello/hello.module.js.map
projects/first-project/dist/hello/hello.service.d.ts
projects/first-project/dist/hello/hello.service.js
projects/first-project/dist/hello/hello.service.js.map
projects/first-project/dist/user/user.controller.d.ts
projects/first-project/dist/user/user.controller.js
projects/first-project/dist/user/user.controller.js.map
projects/first-project/dist/user/user.entity.d.ts
projects/first-project/dist/user/user.entity.js
projects/first-project/dist/user/user.entity.js.map
projects/first-project/dist/user/user.module.d.ts
projects/first-project/dist/user/user.module.js
projects/first-project/dist/user/user.module.js.map
projects/first-project/dist/user/user.repository.d.ts
projects/first-project/dist/user/user.repository.js
projects/first-project/dist/user/user.repository.js.map
projects/first-project/dist/user/user.service.d.ts
projects/first-project/dist/user/user.service.js
projects/first-project/dist/user/user.service.js.map
